# Topic :List

In [25]:
# Exercise Q1. Create a list of 5 random numbers and print the list.

listRandom = [1, 55, 85, 69, 45]

print(listRandom)

print(type(listRandom))

[1, 55, 85, 69, 45]
<class 'list'>

In [27]:
# Q2. Insert 3 new values to the list and print the updated list.
listRandom.append(33)
listRandom.append(48)
listRandom.append(69)

print(listRandom)

[1, 55, 85, 69, 45, 33, 48, 69]

In [29]:
#Q3. Try to use a for loop to print each element in the list.

for i in listRandom:
    print(i)

1
55
85
69
45
33
48
69

# Topic: Dictionary

In [31]:
# Exercise Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

personalInfo = {'name':'John', 'age': '25', 'address':'New York' }

print(personalInfo)

print(type(personalInfo))

{'name': 'John', 'age': '25', 'address': 'New York'}
<class 'dict'>

In [33]:
print(personalInfo.items())

dict_items([('name', 'John'), ('age', '25'), ('address', 'New York')])

In [35]:
#Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'. 

personalInfo['phone'] = '1234567890'

In [37]:
print(personalInfo)

{'name': 'John', 'age': '25', 'address': 'New York', 'phone': '1234567890'}

# Topic: Set

In [39]:
# Exercise Q1.Create a set with values 1, 2, 3, 4, and 5.

numericSet = {1, 2, 3, 4, 5}

print(type(numericSet))

<class 'set'>

In [41]:
# Q2. Add the value 6 to the set created in Q1. 

print(numericSet)

numericSet.add(6)
print(numericSet)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [43]:
#Q3. Remove the value 3 from the set created in Q1.

numericSet.remove(3)

print(numericSet)

{1, 2, 4, 5, 6}

# Topic: Tuple

In [45]:
# Exercise Q1. Create a tuple with values 1, 2, 3, and 4

tupleSample = (1,2,3,4)

print(tupleSample)

print(type(tupleSample))

(1, 2, 3, 4)
<class 'tuple'>

In [47]:
# Q2. Print the length of the tuple created in Q1.

print(len(tupleSample))

4